@model Donor

<div class="d-flex flex-column justify-content-center">

	<div class="d-flex flex-row justify-content-center" style="margin-bottom: 40px;">
		<img src="https://cdn-icons-png.flaticon.com/512/9097/9097164.png" width="200" height="200" />
	</div>

	<div class="d-flex flex-row justify-content-center" style="">
		<span class="app_name">unified system of donations</span>
	</div>
	<form asp-action="Login" asp-controller="Donor">
		<div class="d-flex flex-row justify-content-center">

			<div class="card" style="width: 840px;">

				<div class="d-flex flex-row justify-content-center">

					<div class="d-flex flex-column justify-content-center" style="width:360px;  margin: 40px 0px">

						<div asp-validation-summary="ModelOnly" class="text-danger"></div>

						<div class="form-group" style="">
							<input asp-for="Login" placeholder="Login" class="input" />
							<span asp-validation-for="Login" class="text-danger"></span>
						</div>

						<div class="form-group" style="">
							<input asp-for="Password" placeholder="Password" class="input" />
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>

						<button type="submit" class="main_btn"><span>Log in</span> </button>

						<a class="main_link"> Sign up </a>

					</div>

				</div>

			</div>

		</div>
	</form>

</div>

<style>
	.app_name {
		color: #7FF66C;
		margin-bottom: 40px;
		font-family: Univermag;
		font-size: 50px;
	}
</style>