@model Donor

<div class="d-flex flex-column">

	<div class="d-flex flex-row align-items-center">

		<img style="margin:0 20px" src="https://cdn-icons-png.flaticon.com/512/9097/9097164.png" height="80" width="80" />

		<span style="margin: 0 20px; font-family: Univermag; font-size: 40px; color: #7FF66C ">unified system of donations</span>

		<span class="ms-auto" style="margin: 0 20px; font-size: 24px; color: #fff">| profile</span>

	</div>

	<form asp-action="Profile" asp-controller="Donor" data-ajax="true" data-ajax-method="post" id="Profile">

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<input asp-for="Donor_ID" hidden />

		<input asp-for="Donor_Role_ID" hidden />

		<div class="d-flex flex-grow-1 flex-wrap justify-content-around align-items-center">

			<partial name="_ProfileCardPartial" model="Model" />

			<div class="card" style="width: 100%; height: auto; margin:20px; padding: 40px 40px ;">

				<div class="d-flex justify-content-around flex-wrap flex-grow-1 align-items-center" style="margin-bottom: 10px">

					<div style="width: 120px; height: 120px;  margin: 20px 20px 10px 0;">

						<i style="font-size: 120px; color: white" class="bi bi-globe"></i>

					</div>

					<div class="d-flex flex-column flex-grow-1">

						<div style="margin: 40px 0 20px 20px;">

							<div class="form-group">

								<span style="color: white">Add your media so people can get to know you better</span>

							</div>

						</div>

						<div style="margin: 20px 0 30px 20px;">

							<div class="d-flex flex-wrap flex-grow-1 justify-content-around align-items-center">

								@for (int i = 0; i < Model.Donor_Medias?.Count(); i++)
								{
									<div class="d-flex" style="margin: 10px 0 0 0">

										<input asp-for="@Model.Donor_Medias[i].Donor_Media_ID" hidden />

										<input asp-for="@Model.Donor_Medias[i].Donor_Media_Type_ID" hidden />

										<img src="@Model.Donor_Medias[i].Media_Type?.Donor_Media_Type_Image" width="40" height="40" />

										<input asp-for="@Model.Donor_Medias[i].Media_Url" placeholder="Put social link (optional)" class="input" style="max-width: 240px; margin: 0 50px 0 20px" />

									</div>
								}

							</div>					

						</div>

					</div>

				</div>

			</div>

			<a class="main_link" style="max-width: 360px; width: 100%;" asp-action="Login" asp-controller="Donor"><span>Cancel</span> </a>

			<a onclick="Validate('Profile')" class="main_btn" style="max-width: 360px;  width: 100%;"><span>Save</span> </a>

		</div>

	</form>

</div>

@{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="/js/ChangeAvatar.js"></script>