@model Fund_Member

<form asp-action="AddMember" asp-controller="FundMember" style="width:100%" class=" d-flex flex-column justify-content-between align-items-center">

	<input asp-for="Fund_ID" hidden />

	<select class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.DonorList" asp-for="Donor_ID"></select>

	<button class="main_btn w-100" type="submit"><span>Save</span> </button>

</form>
