<div class="card d-flex flex-column" style="height: 450px; max-width: 360px; padding: 10px; margin: 20px">

	<div class="poster w-100">

		<img style="object-fit: cover; width: 100%; height:130px" src="https://s3-alpha-sig.figma.com/img/af66/b4b5/49026ceb8fb5b34a11a55ac110cca72d?Expires=1701648000&Signature=eXtzIiRfECtl-~ocpVAM1OQ1QtLYc0xJG4kc2eRSXCqKZFbIjv-9oPRj3YENazcedlUrqayNNQiJ2pJk6KtVEMuuksUy3JTYH4gcBKpFaCdPPzG3CPVw9~mcdfoeCYvaob~kHeBlzP-84fKpG0k~hhca-3fZ9OeGrYqLh1IPCFvmh9yFa3nG9u7uw9BSFAP7KjoxN5W7DppJvwBDjFC9B9xTiM55P~r4TC6~6jDl7ZEDKa4otBWEuL019fxLl8mV-WkEiNYSSVQ97pAolQOqAYYgxJtlfspsBzCbgTZmG-Qrbq~GC2p4mWZUDKfcpFe5aBamMtshgbGxyHuBeX~mzw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />

	</div>

	<div class="d-flex justify-content-between">

		<div class="underpost">

			<i class="bi bi-clipboard-data icon"></i>

			<span>10</span>

		</div>

		<div class="fund_logo">

			<img src="https://s3-alpha-sig.figma.com/img/eed2/9903/ec17b8a5e0a67b97352ef3c07b501afe?Expires=1701648000&Signature=Weno64xV6qCt5o1y-~QR~GRXXCs9SzWOqgiJ79JRfdVqwwTi6M8NrPXsXsI2yDVcqVB-O4PQL6yUgtKSTj55~L5gRJKIBrO-UBF9VQVHwqph5nfrkyAtWtibmH6Om1t0PqRYRvgWJUVaHJVk-2vG0g9mylNZTSirEUxXpjvN-DwHs71YQ626b55gn3gd6gvotzfz7sIYR7QdlW9A72zvSqOopzhy-IgWcA7ztiOgwAwKciWxeT3oMwxmhi9ilpFsPo9xsYNvJkTSHwZy0VhHojtmeJqBW5MUIz5zwray3rvesN48rrIJbp6DMUHh4ky6zAa1XKJD94in0w077N9Eaw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />

		</div>

		<div class="underpost">

			<i class="bi bi-people icon"></i>

			<span>1110</span>

		</div>

	</div>

	<div class="fund_name">

		<span>Ветерани Космічних Військ</span>

	</div>

	<div class="fund_info d-flex align-items-center">

		<div class="info_text">
			<span>Owner:</span>
		</div>

		<div class="info_avatar">
			<img src="https://s3-alpha-sig.figma.com/img/aabc/932c/9654132d7a4a7de980a03d3ba47ac742?Expires=1701648000&Signature=B3k91XaO9U6eU13BKCdJUZfHdCGx5jZYep7qpIr9mYkJwJIy6XtmYPWRVFiP8GFHgRW16c-J41JRDHR2wX0bvyMN8MjRNLpodx9gh3wu6YuhN~PEHTzctSRQKpzViFH-1x1ng3qBkySRHnC9ta9WzZgKZEnBmzVZJPDzZ1qr3LepXx-zDz7pQcb6EgU7HKqACUWxZuRPTuFXokOUvEiKyQ1JQ6qsVXnTlMiGOt8EdNVFAxdlzKrHHkZOp~GEDkFUPB-NNXrSMnzn1rQyIDJAYTdyFN0EspgT4OfWAk~BSeZ~zVuviBhBITUI4dr0~xaVb3nhVJe2zdO54sSbka61ww__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
		</div>

	</div>

	<div class="fund_info d-flex align-items-center">

		<div class="info_text">
			<span>Members:</span>
		</div>

		<div class="info_avatar">
			<img src="https://s3-alpha-sig.figma.com/img/aabc/932c/9654132d7a4a7de980a03d3ba47ac742?Expires=1701648000&Signature=B3k91XaO9U6eU13BKCdJUZfHdCGx5jZYep7qpIr9mYkJwJIy6XtmYPWRVFiP8GFHgRW16c-J41JRDHR2wX0bvyMN8MjRNLpodx9gh3wu6YuhN~PEHTzctSRQKpzViFH-1x1ng3qBkySRHnC9ta9WzZgKZEnBmzVZJPDzZ1qr3LepXx-zDz7pQcb6EgU7HKqACUWxZuRPTuFXokOUvEiKyQ1JQ6qsVXnTlMiGOt8EdNVFAxdlzKrHHkZOp~GEDkFUPB-NNXrSMnzn1rQyIDJAYTdyFN0EspgT4OfWAk~BSeZ~zVuviBhBITUI4dr0~xaVb3nhVJe2zdO54sSbka61ww__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
		</div>
		<div class="info_avatar">
			<img src="https://s3-alpha-sig.figma.com/img/aabc/932c/9654132d7a4a7de980a03d3ba47ac742?Expires=1701648000&Signature=B3k91XaO9U6eU13BKCdJUZfHdCGx5jZYep7qpIr9mYkJwJIy6XtmYPWRVFiP8GFHgRW16c-J41JRDHR2wX0bvyMN8MjRNLpodx9gh3wu6YuhN~PEHTzctSRQKpzViFH-1x1ng3qBkySRHnC9ta9WzZgKZEnBmzVZJPDzZ1qr3LepXx-zDz7pQcb6EgU7HKqACUWxZuRPTuFXokOUvEiKyQ1JQ6qsVXnTlMiGOt8EdNVFAxdlzKrHHkZOp~GEDkFUPB-NNXrSMnzn1rQyIDJAYTdyFN0EspgT4OfWAk~BSeZ~zVuviBhBITUI4dr0~xaVb3nhVJe2zdO54sSbka61ww__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
		</div>
		<div class="info_avatar">
			<img src="https://s3-alpha-sig.figma.com/img/aabc/932c/9654132d7a4a7de980a03d3ba47ac742?Expires=1701648000&Signature=B3k91XaO9U6eU13BKCdJUZfHdCGx5jZYep7qpIr9mYkJwJIy6XtmYPWRVFiP8GFHgRW16c-J41JRDHR2wX0bvyMN8MjRNLpodx9gh3wu6YuhN~PEHTzctSRQKpzViFH-1x1ng3qBkySRHnC9ta9WzZgKZEnBmzVZJPDzZ1qr3LepXx-zDz7pQcb6EgU7HKqACUWxZuRPTuFXokOUvEiKyQ1JQ6qsVXnTlMiGOt8EdNVFAxdlzKrHHkZOp~GEDkFUPB-NNXrSMnzn1rQyIDJAYTdyFN0EspgT4OfWAk~BSeZ~zVuviBhBITUI4dr0~xaVb3nhVJe2zdO54sSbka61ww__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
		</div>

	</div>

	<div class="fund_info d-flex align-items-center">

		<div class="info_text">
			<span>Media:</span>
		</div>

		<div class="info_avatar">
			<img src="https://s3-alpha-sig.figma.com/img/0ba8/a42b/f0a035a7a042d0dd187d04a059e0dabf?Expires=1701648000&Signature=DaTEN7vJuPtLYCF7G~RetGcdQit7LDQ4SrD-BCmemUtDGqVdVH6xfEPhpJ2Bq1HS6Q3FuvVKk92WceXuo35FnFzOXz47iiLYFgL6E0QVE4l7dgaI~tb2zZQXCY60thk4VDZ9nDGcW-OZ8fOzUKcVYpSpgl2FOIXWwCBZU69YKWXtxfpJoh5WhVsnacFCmkEcTnnfMjoxcDcQZXu8rDV8YLr72YsCFRYJmnrL9tCLIggsrkEM987N~Saur8WXY1izU2HIl4JVllPeQlnLaTO55d-TCme0SjlJBVyMm7sxgI3zeKizPEfuuGvKWIvDDMVfviCfFxaB1Nei2svBRP022A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
		</div>

		<div class="info_avatar">
			<img src="https://s3-alpha-sig.figma.com/img/2487/4598/38dbd7705ddd0f4c1913e506058e8c78?Expires=1701648000&Signature=S0s1TG6jn67qte6pNxZH1xbP26ST8XCY-S-ZO~8PWs~kOZlrvrKMLDa9d4ItIB2yckgdZkgORqV~5gTFR-0XY7w8buEnqgIbXWs7en4JGGxKYm8Xt98LTbDrAsh0-Wv~SQpEmBS0rDUSGgngnvnNfFuttVBoRSXloUDyh5u3HkuMkUXLyF1WPNtuwOoFLAiiOUS8ZHjPFMQgWRmyr9yG84rrtRZH5lX2bH4to0lHrf-LEfqxU9gb2OxQ-N5eTkMV6QVZo2bNOSQjVLkJPj8x1yzHxLwTF~EXGY-wPN~njPfOyTXVj1EI1HeJ50cYLUYIYQdSwdXkt3KtXAJ3qlxhPA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
		</div>

		<div class="info_avatar">
			<img src="https://s3-alpha-sig.figma.com/img/48a0/da6a/d2c35a5a6aaa8c787b992d2418e2d4f8?Expires=1701648000&Signature=WmXdG9m0cIuoccUsp46Jyp5yodvikWgH~moqSG2lI6MqcrCNGDSBeKuAz7h~OEosK9gzbupYhlGD89F0H1diG6MSwH1MpCM8l~l1Twr4sUHA2pMEUTv38K-OfNpQI7Ci1thH6x-zLLhv9tn-V8ceFfY4sFrsuFX~c98paMj13Mp9ocNKLH9eIF7fgol8SQh4FD9JOoUmYUfh9lzTLolRfpaupPEK1u-TDfQdDTN02600vZ5xZKil91bZgw3MCu975z52b5Hluks1dkPWmzRlAHtnPkoA4YCCU3XCMMeijKe2caYBCrffcGbaOxf1lhhM2d3vSNpvV~snf1tUlFJVig__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
		</div>

	</div>

	<a class="main_btn" style="width: 100%; margin: 0"><span style="font-size: 14px">View details</span> </a>


</div>

<style>
	.poster {
		width: 100%;
		height: 130px;
		overflow: hidden;
		border-radius: 10px 10px 0px 0px;
	}

	.fund_logo {
		width: 80px;
		height: 80px;
		border-radius: 40px;
		overflow: hidden;
		margin-top: -40px;
		z-index: 2;
	}

		.fund_logo img {
			width: 80px;
			height: 80px;
			object-fit: cover;
		}

	.underpost {
		max-width: 130px;
		width: 100%;
		height: 40px;
		background-color: #404040;
		color: white;
		border-radius: 0px 0px 10px 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

		.underpost > .icon {
			margin: 0 5px;
			font-size: 20px;
		}

		.underpost > span {
			margin: 0 5px;
			font-size: 12px;
		}

		.underpost > i::before {
			vertical-align: -0.125em !important;
		}

	.fund_name {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 60px;
		margin: 5px 0;
		color: #7FF66C;
		font-size: 20px;
	}

		.fund_name > span {
			font-family: Univermag !important;
		}

	.fund_info {
		height: 40px;
		width: 100%;
		padding: 5px 10px;
		border-radius: 10px;
		background-color: #404040;
		margin: 0 0 10px 0;
	}

	.info_text {
		font-size: 14px;
		max-width: 75px;
		width: 100%;
		color: #fff;
	}

	.info_avatar {
		width: 30px;
		height: 30px;
		margin-left: 10px;
		border-radius: 10000px;
		overflow: hidden;
	}

		.info_avatar > img {
			width: 30px;
			height: 30px;
			object-fit: cover;
		}
</style>
