@model FundVM

<form asp-action="FundEdit" asp-controller="Fund">
	<div class="d-flex flex-column align-items-center">
		@{
			var edit = ViewBag.Edit;
		}




		<partial name="_FundHeaderPartial" />

		<div class="tab-content" id="pills-tabContent" style="color: white; width: 100%">

			@if (!edit)
			{
				<div class="tab-pane fade   show active" id="pills-project" role="tabpanel" aria-labelledby="pills-project-tab" tabindex="0">
					<div class="d-flex flex-wrap flex-grow-1 justify-content-center">

						<div class="card d-flex flex-column justify-content-center align-items-center" style="height: 450px; width: 360px; padding: 10px; margin: 20px">
							<a class="main_link" asp-action="ProjectCreate" asp-controller="Project" asp-route-fund_id="@Model.Fund.Fund_ID" style="font-size: 70px"><i class="bi bi-plus-lg"></i></a>
						</div>
						@foreach (var item in Model.Projects)
						{
							<partial name="../Project/_ProjectCardPartial" model="@item"/>
						}

					</div>
					
				</div>

				<div class="tab-pane fade" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab" tabindex="0">

					<partial name="_FundAboutPartial" />

				</div>
			}
			else
			{
				<div class="tab-pane fade" id="pills-project" role="tabpanel" aria-labelledby="pills-project-tab" tabindex="0">
				</div>

				<div class="tab-pane fade  show active" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab" tabindex="0">

					<partial name="_FundAboutPartial" />

				</div>
			}


		</div>

		@if (edit)
		{
			<button class="main_btn" type="submit" style=" width: 100%; margin: 20px 0; max-width: 50%"><span>Save</span> </button>
		}



	</div>
</form>
<div class="modal fade " id="ChangePosterModal" tabindex="-1" aria-hidden="true">

	<div class="modal-dialog modal-dialog-centered">

		<div class="modal-content d-flex flex-column justify-content-between align-items-center">

			<input placeholder="Put image url" class="input" id="PosterModalInput" />

			<a class="main_btn" onclick="ChangePoster_Logo('Poster')" style=" width: 100%;" data-bs-dismiss="modal"><span>Save</span> </a>

		</div>

	</div>

</div>

<div class="modal fade " id="ChangeLogoModal" tabindex="-1" aria-hidden="true">

	<div class="modal-dialog modal-dialog-centered">

		<div class="modal-content d-flex flex-column justify-content-between align-items-center">

			<input placeholder="Put image url" class="input" id="LogoModalInput" />

			<a class="main_btn" onclick="ChangePoster_Logo('Logo')" style=" width: 100%;" data-bs-dismiss="modal"><span>Save</span> </a>

		</div>

	</div>

</div>

<div class="modal fade " id="AddFundImage" tabindex="-1" aria-hidden="true">

	<div class="modal-dialog modal-dialog-centered">

		<div class="modal-content">

			<partial name="_FundImageCreatePartial" model="new Fund_Image() {Fund_ID = Model.Fund.Fund_ID, Image = string.Empty}" />

		</div>

	</div>

</div>

<div class="modal fade " id="AddFundMember" tabindex="-1" aria-hidden="true">

	<div class="modal-dialog modal-dialog-centered">

		<div class="modal-content">

			<partial name="_FundMemberCreatePartial" model="new Fund_Member() {Fund_ID = Model.Fund.Fund_ID}" />

		</div>

	</div>

</div>

<script>
	$(document).ready(function () {
		$('[data-bs-toggle="popover"]').popover();
		$('.selectpicker').selectpicker();
	});
</script>

<script>
	function ChangePoster_Logo(type) {

		if (type == "Poster") {

			var url = document.getElementById('PosterModalInput').value;

			var inputElement = document.getElementById('FundPoster');

			var imageElement = document.getElementById('FundPosterImg');

			inputElement.setAttribute('value', url);

			imageElement.src = url;
		}
		else {

			var url = document.getElementById('LogoModalInput').value;

			var inputElement = document.getElementById('FundLogo');

			var imageElement = document.getElementById('FundLogoImg');

			inputElement.setAttribute('value', url);

			imageElement.src = url;

		}

	}
</script>

<style>
	

</style>