@model List<FundVM>

<div class="container d-flex flex-column align-content-center">

	<partial name="_SearchPartial" />

	<div class="d-flex flex-wrap flex-grow-1 justify-content-center">

		@if (User.IsInRole("Admin"))
		{
			<div class="card d-flex flex-column justify-content-center align-items-center" style="height: 450px; width: 360px; padding: 10px; margin: 20px">

				<a class="main_link" asp-action="FundCreate" asp-controller="Fund" style="font-size: 70px"><i class="bi bi-plus-lg"></i></a>

			</div>
		}


		@foreach (var item in Model)
		{
			<partial name="_FundCardPartial" model="@item" />
		}

	</div>

</div>

<script>
	$(document).ready(function () {
		$('[data-bs-toggle="popover"]').popover();
	});
</script>
