html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #292929;
    margin-bottom: 60px;
}

span {
    font-family: Montserrat;
}

a {
    text-decoration: none !important;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: #FFF !important;
    font-family: Montserrat;
}

    a[b-zbj9ra31n0] {
        color: #fff;
    }

/*i::before {
    vertical-align: 1em !important;
}*/

@font-face {
    font-family: "Univermag";
    src: url(/Univermag-Regular.otf);
}

.icon_tool {
    color: #fff;
    font-size: 25px;
    position: absolute;
    visibility: hidden;
}

.image_edit:hover .icon_tool {
    visibility: visible;
}

.image_edit > img {
    transition: 0.4s ease;
}

.image_edit:hover > img {
    filter: brightness(30%);
}

.custom-toast {
    max-width: 250px;
    color: #fff;
}

.card {
    background: #393939;
    border-radius: 10px;
    transition: width 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

    .card:hover {
        box-shadow: 0px 0px 20px 0px #7FF66C;
    }

.dark_card {
    border-radius: 20px;
    background: #292929;
    box-shadow: 0px 0px 20px 0px #202020;
    overflow: hidden;
}

.input {
    border-radius: 10px;
    background-color: #404040;
    color: white;
    width: 100%;
    border-color: transparent;
    transition: border 0.2s ease-in-out;
    height: 40px;
    /* margin: 10px;*/
    padding: 10px;
}

    .input:focus-visible {
        border: 1.5px solid #7FF66C;
        outline: none;
    }

.text-danger {
    font-size: 11px;
    font-family: Arial;
}


.main_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #404040;
    border-radius: 10px;
    color: white;
    padding: 5px;
    min-height: 40px;
    margin: 10px;
    font-family: Montserrat;
    font-weight: 700;
    border: none;
}

    .main_btn:hover {
        color: black !important;
        background-color: #7FF66C;
        cursor: pointer;
    }

.main_link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    background: transparent;
    margin: 10px;
    font-weight: 700;
}

    .main_link:hover {
        color: #7FF66C !important;
        cursor: pointer;
    }

/*donor info card*/

.donor_info_card {
    height: 80px;
    width: fit-content;
    border-radius: 10px;
    background: #404040;
    box-shadow: 0px 0px 20px 0px #202020;
}

.donor_info_logo {
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 10000000000px;
    overflow: hidden;
}

    .donor_info_logo img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

.donor_info {
    margin: 10px;
}

.donor_info_name {
    font-size: 14px;
    font-weight: 700;
    color: white;
}


.donor_info_username {
    font-size: 10px;
    margin-bottom: 5px;
    color: white;
}

.donor_media_logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    overflow: hidden;
}

    .donor_media_logo > img {
        width: 16px;
        height: 16px;
        object-fit: cover;
        vertical-align: top;
    }

.popover {
    background: transparent;
}

.popover-body {
    padding: 0;
    color: white;
    border-radius: 10px;
    background-color: #404040;
    box-shadow: 0px 0px 20px 0px #202020;
}

.bs-popover-auto[data-popper-placement^=right] > .popover-arrow::after, .bs-popover-end > .popover-arrow::after {
    border-right-color: #404040;
}

/*bootstrap-select*/

.bootstrap-select.form-control {
    background-color: transparent;
}

.bootstrap-select > .btn {
    border-radius: 10px;
    background: #404040;
    color: white;
    border: 1px solid transparent;
}

    .bootstrap-select > .btn:focus {
        box-shadow: none;
    }

    .bootstrap-select > .btn:hover {
        border: 1px solid green;
    }

.bootstrap-select > .dropdown-toggle:after {
    content: "\F128";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    border: none;
}

.modal-content {
    padding: 40px 40px;
    border-radius: 10px;
    background: #393939;
    box-shadow: 0px 0px 20px 0px #202020;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: 0;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
    outline-offset: 0;
}

.bootstrap-select > .dropdown-menu {
    color: black !important;
    background-color: #404040 !important;
    border: none;
    border-radius: 10px;
}

    .bootstrap-select > .dropdown-menu > .inner > .dropdown-menu {
        background-color: #404040;
        padding: 10px;
    }

        .bootstrap-select > .dropdown-menu > .inner > .dropdown-menu > li {
            border-radius: 10px;
            margin: 10px 0;
        }

            .bootstrap-select > .dropdown-menu > .inner > .dropdown-menu > li > a {
                border-radius: 10px;
                height: 40px;
                display: flex;
                align-items: center;
            }

                .bootstrap-select > .dropdown-menu > .inner > .dropdown-menu > li > a.active {
                    background-color: #383838;
                }

                .bootstrap-select > .dropdown-menu > .inner > .dropdown-menu > li > a:hover {
                    background-color: #393939;
                }

    .bootstrap-select > .dropdown-menu > .bs-searchbox > .form-control {
        border-radius: 10px;
        background-color: #393939;
        color: white;
        width: 100%;
        border-color: transparent;
        transition: border 0.2s ease-in-out;
        height: 40px;
        /* margin: 10px;*/
        padding: 10px;
        box-shadow: 0px 0px 20px 0px #202020;
    }

        .bootstrap-select > .dropdown-menu > .bs-searchbox > .form-control:focus-visible {
            border: 1.5px solid #7FF66C;
            outline: none;
        }

        .bootstrap-select > .dropdown-menu > .bs-searchbox > .form-control:focus {
            border: 1.5px solid #7FF66C;
            outline: none;
            box-shadow: none !important;
        }

.bootstrap-select .no-results {
    background-color: #404040;
    color: white;
}
