@model Project

<form asp-action="ProjectCreate" asp-controller="Project">
	<div class="d-flex flex-column align-items-center w-100">

		<partial name="_ProjectHeadPartial" />

		<div class="d-flex w-100 justify-content-around align-items-center">

			<a class="main_link" style="max-width: 360px; width: 100%;" asp-action="Login" asp-controller="Donor"><span>Cancel</span> </a>

			<button type="submit" class="main_btn" style="max-width: 360px;    width: 100%;"><span>Save</span> </button>

		</div>

	</div>
</form>

