<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] USOD</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/9097/9097164.png">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/USOD.WebASP.styles.css" asp-append-version="true" />
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
	@*     <header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
	<div class="container-fluid">
	<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">USOD.WebASP</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
	aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
	<ul class="navbar-nav flex-grow-1">
	<li class="nav-item">
	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
	</li>
	<li class="nav-item">
	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</li>
	</ul>
	</div>
	</div>
	</nav>
	</header> *@

	<div class="d-flex flex-row" style="margin-top: 40px">

		<div class="card menuCard d-flex flex-column justify-content-between" id="menuCard">
			<div>
				<div class="menu_btn" style="margin: 20px 10px 50px 10px; width: 50px" id="toggleMenu">
					<div class="menu_btn_icon">
						<i class="bi bi-list auto"></i>
					</div>
				</div>

				<a asp-action="FundIndex" asp-controller="Fund">
					<div class="menu_btn">
						<div class="menu_btn_icon">
							<i class="bi bi-bank auto"></i>
						</div>
						<div class="menu_btn_text">
							<span>Funds</span>
						</div>
					</div>
				</a>

				<div class="menu_btn">
					<div class="menu_btn_icon">
						<i class="bi bi-clipboard-data auto"></i>
					</div>
					<div class="menu_btn_text">
						<span>Projects</span>
					</div>
				</div>

				<div class="menu_btn">
					<div class="menu_btn_icon">
						<i class="bi bi-bookmark-heart auto"></i>
					</div>
					<div class="menu_btn_text">
						<span>Subscriptions</span>
					</div>
				</div>
			</div>

			<div class="">
				@if (!User.Identity.IsAuthenticated)
				{
					<div class="menu_btn">
						<div class="menu_btn_icon" style="margin: 10px 15px 10px 5px">
							<a asp-action="Login" asp-controller="Donor"><i class="bi bi-box-arrow-in-right auto"></i></a>
						</div>
						<div class="menu_btn_text">
							<span>LogIn</span>
						</div>
					</div>
				}
				else
				{
					<a asp-action="Profile" asp-controller="Donor">
						<div class="menu_btn">
							<div class="menu_btn_icon">
								<i class="bi bi-person auto"></i>
							</div>
							<div class="menu_btn_text">
								<span>Profile</span>
							</div>
						</div>
					</a>
					<a asp-action="LogOut" asp-controller="Donor">
						<div class="menu_btn">
							<div class="menu_btn_icon" style="margin: 10px 5px 10px 15px">
								<i class="bi bi-box-arrow-in-left auto"></i>
							</div>
							<div class="menu_btn_text">
								<span>Exit</span>
							</div>
						</div>
					</a>
				}
			</div>
		</div>

		<div class="container">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>

	</div>





	@*   <footer class="border-top footer text-muted">
	<div class="container">
	&copy; 2023 - USOD.WebASP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</div>
	</footer> *@
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var menuCard = document.getElementById("menuCard");
		var toggleMenu = document.getElementById("toggleMenu");

		toggleMenu.addEventListener("click", function () {
			menuCard.classList.toggle("menuCard_open");
			var icon = toggleMenu.querySelector("i");

			if (menuCard.classList.contains("menuCard_open")) {
				icon.classList.remove("bi-list");
				icon.classList.add("bi-x");
			} else {
				icon.classList.remove("bi-x");
				icon.classList.add("bi-list");
			}
		});
	});
</script>

<style>
	.menuCard {
		width: 70px;
		height: 80vh;
		border-radius: 0px 10px 10px 0px;
	}

	.menuCard_open {
		width: 170px;
	}



	.menu_btn {
		width: auto;
		display: flex;
		flex-direction: row;
		height: 50px;
		border-radius: 5px;
		margin: 10px 10px;
	}

		.menu_btn:hover {
			cursor: pointer;
			background-color: #292929;
		}

	.menu_btn_icon {
		color: white;
		margin: 10px;
		font-size: 30px;
		width: 30px;
		height: 30px;
	}

		.menu_btn_icon .auto {
			display: inline-block;
			width: 100%;
			height: 100%;
		}

	.menu_btn_text {
		display: flex;
		overflow: hidden;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		color: white;
	}
</style>