<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - USOD.WebASP</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/USOD.WebASP.styles.css" asp-append-version="true" />
</head>
<body>
	@*     <header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
	<div class="container-fluid">
	<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">USOD.WebASP</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
	aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
	<ul class="navbar-nav flex-grow-1">
	<li class="nav-item">
	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
	</li>
	<li class="nav-item">
	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</li>
	</ul>
	</div>
	</div>
	</nav>
	</header> *@

	<div class="d-flex flex-row" style="margin-top: 40px">

		<div class="card">

			<div class="menu_btn">
				<div class="menu_btn_icon">
					<i class="bi bi-bank autowidth"></i>
				</div>
			</div>

		</div>

		<div class="container">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>
	</div>



	@*   <footer class="border-top footer text-muted">
	<div class="container">
	&copy; 2023 - USOD.WebASP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</div>
	</footer> *@
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
	.card {
		height: 80vh;
		width: 80px;
		background: #393939;
		border-radius: 0px 10px 10px 0px;
		transition: box-shadow 0.4s ease-in-out;
	}

		.card:hover {
			box-shadow: 0px 0px 20px 0px #7FF66C;
		}

	.menu_btn {
		width: 50px;
		height: 50px;
		border-radius: 5px;
		margin: 20px  10px;
	}

		.menu_btn:hover {
			background-color: #292929;
		}

	.menu_btn_icon {
		color: white;
		margin: 10px;
		font-size: 30px;
		width: 30px;
		height: 30px;
	}

		.menu_btn_icon .autowidth {
			display: inline-block;
			width: 100%;
			height: 100%;
		}

			.menu_btn_icon i::before {
				vertical-align: 1em !important;
			}
</style>