<div class="d-flex flex-row justify-content-center">

	<div class="search_card d-flex flex-row justify-content-center">

		<div class="search_logo">
			<img src="https://cdn-icons-png.flaticon.com/512/9097/9097164.png" width="30" height="30" />
		</div>

		<div class="search_text d-flex flex-column justify-content-center">
			<span>unified system of donations</span>
		</div>

		<div class="search_input">
			<input class="search-input " />
		</div>

		<div class="search_btn">
			<a class="main_link" style="height: 30px; width:auto; margin: 0"><i class="bi bi-search-heart-fill"></i></a>
		</div>

	</div>

</div>