<div class="d-flex justify-content-center">

	<div class="search_card d-flex justify-content-center align-items-center">

		<div class="search_logo">
			<img src="https://cdn-icons-png.flaticon.com/512/9097/9097164.png" width="30" height="30" />
		</div>

		<div class="search_text d-flex flex-column justify-content-center">
			<span>unified system of donations</span>
		</div>

		<div class="search_input">
			<input class="search-input " />
		</div>

		<div class="search_btn">
			<a class="main_link" style="width:auto; margin: 0"><i class="bi bi-search-heart-fill"></i></a>
		</div>

	</div>

</div>

<style>
	.search_card {
		width: auto;
		height: 40px;
		border-radius: 10px;
		margin-bottom: 80px;
		background-color: #292929;
		box-shadow: 0px 0px 20px 0px #202020;
		padding: 5px;
	}

	.search_logo {
		margin: 0 5px 0 0;
	}

	.search_text {
		color: #7FF66C;
		font-size: 14px;
		margin: 5px;
	}

	.search_text > span{
			font-family: Univermag !important;
	}

	.search_input {
		height: 30px;
		width: 500px;
		margin: 0 5px;
	}

	.search-input {
		border-radius: 5px;
		background-color: transparent;
		border: 1.5px solid #393939;
		color: white;
		width: 100%;
		transition: border 0.2s ease-in-out;
	}

		.search-input:focus-visible {
			border: 1.5px solid #7FF66C;
			outline: none;
		}

	.search_btn {
		margin: 10px;
		font-size: 25px;
	}
</style>