

<div class="home_page w-100 d-flex flex-column">

	<div class="d-flex align-items-center">

		<img style="margin:0 20px" src="https://cdn-icons-png.flaticon.com/512/9097/9097164.png" height="80" width="80" />

		<span style="margin: 0 20px; font-family: Univermag; font-size: 40px; color: #7FF66C ">unified system of donations</span>

	</div>

	<div class="home_info d-flex align-items-center">

		<p class="text_style w-50">Let's turn to heart and charity! We warmly congratulate you on joining our unified giving system. Your participation is a step towards change, towards helping those who need it most. Together we are building a world where kindness and support are the norm. Thank you for your generosity and commitment to charity!</p>

		<div class="img_div">

			<img src="https://img.freepik.com/free-vector/charity-doodle-vector-people-donating-things_53876-143486.jpg?w=740&t=st=1701778030~exp=1701778630~hmac=26f759dd0c6c472c59b92e309b882301a52718f6732256d244c47f482f7bec5d" />

		</div>

	</div>

	<p class="text_style" style="margin: 0 0px 60px 20px;">Your participation in this system is not only an act of kindness, it is a seed that will help to grow a real victory over needs and hardships. Each contribution, each donation is a hope for many, a light in the darkness that gives a chance for a better life. Thank you for choosing to support and join this extremely important mission!</p>

	<div class="text-center subtitle"><p>Charity unifies: small steps, big impact</p></div>

</div>

<style>

	.home_page {
		color: white;
	}

	.home_info{
		margin-top: 70px;
		margin-bottom: 40px;
	}

	.img_div{
		width: 600px;
		height: 320px;
		border-radius: 10px;
		overflow: hidden;
	}

		.img_div img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

	.text_style{
		margin: 0 40px 0 20px;
		text-align: justify;
		font-family: Montserrat;
		font-size: 20px;
	}

	.subtitle{
		color:  #7FF66C;
		font-family: Univermag;
		font-size: 32px;
	}
</style>